/* main */
.wrap {
  display: flex;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
}

/* control menu */
.control_menu {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  margin-top: 10px;
}

.control_menu li {
  width: 100px;
  height: 100px;
}

.control_menu a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 18px;
}

.control_menu i {
  font-size: 30px;
}

.control_menu a > * {
  margin: 5px 0;
}

/* control main */
.control_main {
  display: flex;
  width: 100%;
}

.control_left {
  display: flex;
  flex-direction: column;
  width: 550px;
}

.control_left > ul {
  display: flex;
  flex-direction: column;
  width: 550px;
  margin-top: 20px;
}

.control_left > ul > li {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: auto;
  border-bottom: 1px solid lightgray;
}

/* setting */
.setting_title {
  size: 0;
  font-size: 20px;
  font-weight: bold;
  min-width: 10px;
}
.setting_title:focus {
  border: 0;
}

.setting_desc {
  margin-left: 10px;
  font-size: 18px;
  color: gray;
}

.setting_top {
  display: flex;
  align-items: center;
  width: 550px;
  height: auto;
  margin-bottom: 10px;
}

.setting_img_frame {
  display: flex;
  width: 60px;
  height: 60px;
  margin-top: 10px;
  border-radius: 35px;
  border: 1px solid lightgray;
  overflow: hidden;
}

.setting_img_frame img {
  width: 60px;
}

.setting_right {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: auto;
  margin-left: 20px;
}

.setting_right_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.setting_right_split {
  display: flex;
}

.setting_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 10px;
}

.setting_display {
  width: 60px;
  font-size: 16px;
  margin-left: 5px;
}

.setting_tags_frame {
  display: flex;
  width: 480px;
  height: 52px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.setting_tags_frame::-webkit-scrollbar {
  height: 7px;
  background-color: transparent;
}
.setting_tags_frame::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 5px;
}

.setting_tags {
  display: flex;
  align-items: center;
  width: 480px;
  height: 50px;
}

.setting_close {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: red;
  cursor: pointer;
  font-size: 20px;
}

/* search box */
.search_box {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  width: 180px;
  height: 35px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.search_wrap {
  position: absolute;
  width: 180px;
  height: 35px;
  border-radius: 20px;
  border: 1px solid lightgray;
}

.search_input {
  position: absolute;
  width: 135px;
  height: 30px;
  margin-left: 35px;
  font-size: 14px;
  border: none;
}

.search_box i {
  position: absolute;
  margin-left: 10px;
  color: lightgray;
  z-index: 1;
}

/* tag */
.setting_tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 35px;
  margin: 5px 0;
  margin-right: 10px;
  border-radius: 20px;
  border: 1px solid lightgray;
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
}

.setting_tag_name {
  font-size: 14px;
  margin-right: 10px;
}

.setting_tag_close {
  font-size: 14px;
  right: 10px;
  cursor: pointer;
  color: red;
}

.setting_tag_add {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: auto;
  height: 35px;
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 20px;
  font-size: 20px;
}

.setting_tag_display {
  font-size: 14px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
}

.setting_tag_input {
  display: none;
  width: 100px;
  height: 25px;
  padding-left: 10px;
  margin-right: 5px;
  border: none;
  border-radius: 10px;
  background-color: ghostwhite;
}
.setting_tag_add.activated .setting_tag_input {
  display: block;
}

.setting_tag_commit {
  display: none;
  width: 40px;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  line-height: 20px;
  border: none;
  border-radius: 15px;
  background-color: gray;
  cursor: pointer;
}
.setting_tag_add.activated .setting_tag_commit {
  display: block;
}

.setting_tag_add.activated .setting_tag_recommend {
  display: flex;
}

.setting_tag_recommend .setting_tag_name {
  width: auto;
  height: 20px;
  padding: 0 10px;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.setting_tag_recommend li:hover {
  background-color: lightgray;
}

/* control right */
.control_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: auto;
  margin-top: 30px;
}

.control_title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 50px;
}

.control_info {
  height: 40px;
  line-height: 40px;
  margin-right: 20px;
  font-size: 20px;
}

.control_input_wrap {
  display: flex;
  justify-content: right;
  width: 450px;
  height: auto;
  margin-bottom: 20px;
}

.control_input_wrap input {
  width: 250px;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 14px;
}

.control_create {
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 1px solid lightgray;
  border-radius: 10px;
  font-size: 20px;
  background-color: ghostwhite;
  margin-top: 20px;
  cursor: pointer;
}

/* profile img */
.profile_img_frame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 1px solid lightgray;
  overflow: hidden;
}

.profile_img_frame img {
  position: absolute;
  width: 200px;
  cursor: pointer;
}

.profile_img_desc {
  position: absolute;
  bottom: 40px;
  text-align: center;
  color: lightgray;
  font-size: 10px;
}

#profile_img_select {
  width: 200px;
  height: 200px;
  background-color: none;
  color: none;
  border: none;
  z-index: 1;
}

#profile_img_select:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* popup */
.popup {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.popup.activated {
  display: flex;
}

.popup_frame {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 0 20px;
}

.popup_title {
  position: absolute;
  top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.popup_desc {
  font-size: 18px;
}

.popup_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: red;
  cursor: pointer;
  font-size: 20px;
  cursor: pointer;
}

.popup_tab {
  position: absolute;
  display: flex;
  bottom: 20px;
  width: auto;
  height: 30px;
}

.popup_tab > button {
  width: 70px;
  height: 30px;
  margin: 0 10px;
  text-align: center;
  line-height: 30px;
  border: 1px solid lightgray;
  border-radius: 10px;
  cursor: pointer;
}

.popup_accept {
  background-color: #b6ffcb;
}

.popup_cancel {
  background-color: #ffadad;
}
