<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Fragments</title>
  </head>
  <body>
    <div class="menu" th:fragment="header">
      <ul>
        <li><a class="applyCookie" href="http://localhost:8888">메인</a></li>
        <li>
          <a class="applyCookie" href="http://localhost:8888/new">신규글</a>
        </li>
        <li>
          <a class="applyCookie" href="http://localhost:8888/hot">인기글</a>
        </li>
        <li><a href="http://localhost:8888/editor">글 작성</a></li>
        <li class="menu_login" th:if="${profile == null}">
          <a href="http://localhost:8888/login">로그인</a>
        </li>
        <li class="menu_profile" th:if="${profile != null}">
          <a href="http://localhost:8888/profile">
            <div class="menu_profile_imgframe">
              <img
                alt=""
                th:src="|http://localhost:8888/images/${profile.getFaceimg()}|"
              />
            </div>
            <div
              class="menu_profile_name"
              th:text="${profile.getNickname()}"
            ></div>
          </a>
        </li>
      </ul>
    </div>
  </body>
</html>
