<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Fragments</title>
  </head>
  <body>
    <div class="banner" th:fragment="banner">
      <a th:href="@{/}">
        <img th:src="@{/images/official/banner.png}" />
      </a>
    </div>

    <div class="menu" th:fragment="header">
      <ul>
        <li><a class="applyCookie" th:href="@{/}">메인</a></li>
        <li>
          <a class="applyCookie" th:href="@{/new}">신규글</a>
        </li>
        <li>
          <a class="applyCookie" th:href="@{/popular}">인기글</a>
        </li>
        <li><a th:href="@{/editor}">글 작성</a></li>
        <li class="menu_login" th:if="${profile == null}">
          <a th:href="@{/login}">로그인</a>
        </li>
        <li
          class="menu_profile"
          th:if="${profile != null}"
          th:classappend="${profile.isVerify()} ? '' : 'unverified'"
        >
          <div class="menu_unverified" th:unless="${profile.isVerify()}">
            인증되지 않은 계정입니다!
          </div>
          <a th:href="@{/profile}">
            <div class="menu_profile_imgframe">
              <img
                alt=""
                th:src="@{/images/{img}(img = ${profile.getFaceimg()})}"
              />
            </div>
            <div
              class="menu_profile_name"
              th:text="${profile.getNickname()}"
            ></div>
          </a>
        </li>
      </ul>
    </div>

    <div
      class="sidebar"
      th:fragment="sidebar"
      th:classappend="${sidebarMode != null and sidebarMode.equals('default')} ? shorten : ''"
    >
      <div class="sidebar_title">카테고리 검색</div>
      <form class="sidebar_search">
        <div class="search_box">
          <div class="search_wrap"></div>
          <input
            class="search_input"
            type="search"
            name="search"
            placeholder="검색"
          />
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <div class="sidebar_title">보기 모드</div>
        <div class="select_box">
          <label
            ><input
              th:checked="${#strings.equals(sidebar.getViewmode(), 'simple')}"
              name="view_mode"
              id="view_simple"
              type="radio"
              value="simple"
            />간략히</label
          >
          <label
            ><input
              th:checked="${#strings.equals(sidebar.getViewmode(), 'exact')}"
              name="view_mode"
              id="view_exact"
              type="radio"
              value="exact"
            />자세히</label
          >
        </div>

        <div
          class="sidebar_title"
          th:if="${sidebarMode != null and !sidebarMode.equals('default')}"
        >
          검색 필터
        </div>
        <div
          class="select_box"
          th:if="${sidebarMode != null and !sidebarMode.equals('default')}"
          id="search_filter"
        >
          <label
            ><input
              name="title"
              type="checkbox"
              th:checked="${sidebar.isTitle()}"
            />제목</label
          >
          <label
            ><input
              name="author"
              type="checkbox"
              th:checked="${sidebar.isAuthor()}"
            />작성자</label
          >
          <label
            ><input
              name="content"
              type="checkbox"
              th:checked="${sidebar.isContent()}"
            />내용</label
          >
          <label
            ><input
              name="date"
              type="checkbox"
              th:checked="${sidebar.isDate()}"
            />날짜</label
          >
        </div>

        <div
          class="sidebar_title"
          th:if="${sidebarMode != null and !sidebarMode.equals('default')}"
        ></div>
        <div
          class="select_box"
          th:if="${sidebarMode != null and !sidebarMode.equals('default')}"
        >
          <label
            ><input
              th:checked="${#strings.equals(sidebar.getSort(), 'loved')}"
              name="sort"
              id="view_loved"
              type="radio"
              value="loved"
              checked
            />인기순</label
          >
          <label
            ><input
              th:checked="${#strings.equals(sidebar.getSort(), 'new')}"
              name="sort"
              id="view_new"
              type="radio"
              value="new"
            />최신순</label
          >
        </div>

        <div class="sidebar_title"></div>
        <div class="select_box">
          <label
            ><input
              th:checked="${#strings.equals(sidebar.getDirection(), 'up')}"
              name="direction"
              id="view_up"
              type="radio"
              value="up"
              checked
            />오름차순</label
          >
          <label
            ><input
              th:checked="${#strings.equals(sidebar.getDirection(), 'down')}"
              name="direction"
              id="view_down"
              type="radio"
              value="down"
            />내림차순</label
          >
        </div>
      </form>
    </div>
  </body>
</html>
