<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title th:text="|BOARDARC - 카테고리: ${categoryData.getCategory()}|">
      카테고리
    </title>
    <link rel="icon" href="http://localhost:8888/images/official/icon.png" />
    <link rel="stylesheet" th:href="@{/components/css/style.css}" />
    <link rel="stylesheet" th:href="@{/category/css/style.css}" />
    <script
      src="https://kit.fontawesome.com/d5e5d975b2.js"
      crossorigin="anonymous"
    ></script>
    <script src="../components/js/jquery.js"></script>
    <script src="../components/js/jquery.cookie.js"></script>
    <script src="../components/js/header.js"></script>
    <script src="../category/js/script.js"></script>
    <script src="../category/js/search.js"></script>
    <script src="../components/js/sidebar.js"></script>
  </head>
  <body>
    <div class="wrap">
      <div class="banner">
        <a href="#">
          <img src="" alt="배너" />
        </a>
      </div>
      <div class="menu" th:replace="fragments/common :: header"></div>
      <div class="body">
        <div class="title">
          <div class="category_name" th:text="${categoryData.getCategory()}">
            글 목록
          </div>
          <div class="category_info" th:text="${categoryData.getAbout()}">
            게시물을 둘러보세요.
          </div>
        </div>

        <div class="main">
          <div class="main_posts">
            <ul class="post_list">
              <li class="post_simple" th:each="post : ${posts}">
                <a th:href="|http://localhost:8888/posts/${post.getId()}|">
                  <div class="post_name" th:text="${post.getPostname()}">
                    글 제목
                  </div>
                  <div class="post_right">
                    <div class="post_wrap">
                      <div
                        class="post_top"
                        th:text="${post.authorInfo.getNickname()}"
                      >
                        게시자
                      </div>
                      <div
                        class="post_bottom"
                        th:text="${post.getPostdate()}"
                      ></div>
                    </div>

                    <div class="post_wrap">
                      <div class="post_top">조회수</div>
                      <div
                        class="post_bottom"
                        th:text="|${post.getViewers()}회|"
                      ></div>
                    </div>

                    <div class="post_wrap">
                      <div class="post_top">추천</div>
                      <div
                        class="post_bottom"
                        th:text="|${post.getRecommend()}개|"
                      ></div>
                    </div>
                  </div>
                </a>
              </li>

              <li class="post_exact" th:each="post : ${posts}">
                <a th:href="|http://localhost:8888/posts/${post.getId()}|">
                  <div class="post_left">
                    <div class="post_title">
                      <div class="post_name" th:text="${post.getPostname()}">
                        글 제목
                      </div>
                      <div
                        class="post_data"
                        th:text="|조회수 ${post.getViewers()}회|"
                      ></div>
                      <div
                        class="post_data"
                        th:text="|추천 ${post.getRecommend()}개|"
                      ></div>
                    </div>
                    <div class="post_info">
                      <img src="" alt="" />
                      <p th:text="${post.getContent()}">글 내용</p>
                    </div>
                  </div>
                  <div class="post_right">
                    <div
                      class="post_top"
                      th:text="|게시자 - ${post.authorInfo.getNickname()}|"
                    >
                      게시자
                    </div>
                    <div
                      class="post_top"
                      th:text="|게시일 - ${post.getPostdate()}|"
                    >
                      게시일
                    </div>
                    <div class="author_image_frame">
                      <img
                        th:if="${post.authorInfo.getFaceimg() == null}"
                        alt=""
                        th:src="http://localhost:8888/images/profiles/default.png"
                      />
                      <img
                        th:if="${post.authorInfo.getFaceimg() != null}"
                        alt=""
                        th:src="|http://localhost:8888/images/${post.authorInfo.getFaceimg()}|"
                      />
                    </div>
                  </div>
                </a>
              </li>
            </ul>

            <ul class="paging">
              <li class="post_move">
                <a th:href="|http://localhost:8888/category/${page - 1}|"
                  >&lt;</a
                >
              </li>
              <li
                class="post_button"
                th:each="num : ${#numbers.sequence(1, pageCount)}"
                th:classappend="${page} == num ? current : ''"
              >
                <a
                  th:href="|http://localhost:8888/category/${num}|"
                  th:text="${num}"
                ></a>
              </li>
              <li class="post_move">
                <a th:href="|http://localhost:8888/category/${page + 1}|"
                  >&gt;</a
                >
              </li>
            </ul>
          </div>

          <div class="sidebar">
            <div class="sidebar_title">카테고리 검색</div>
            <form class="sidebar_search">
              <div class="search_box">
                <div class="search_wrap"></div>
                <input
                  class="search_input"
                  type="search"
                  name="search"
                  placeholder="검색"
                />
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>

              <div class="sidebar_title">보기 모드</div>
              <div class="select_box">
                <label
                  ><input
                    name="view_mode"
                    id="view_simple"
                    type="radio"
                    value="simple"
                    checked
                  />간략히</label
                >
                <label
                  ><input
                    name="view_mode"
                    id="view_exact"
                    type="radio"
                    value="exact"
                  />자세히</label
                >
              </div>

              <div class="sidebar_title">검색 필터</div>
              <div class="select_box" id="search_filter">
                <label
                  ><input name="title" type="checkbox" checked />제목</label
                >
                <label
                  ><input name="author" type="checkbox" checked />작성자</label
                >
                <label
                  ><input name="content" type="checkbox" checked />내용</label
                >
                <label><input name="date" type="checkbox" />날짜</label>
              </div>

              <div class="sidebar_title"></div>
              <div class="select_box">
                <label
                  ><input
                    name="sort"
                    id="view_loved"
                    type="radio"
                    value="loved"
                    checked
                  />인기순</label
                >
                <label
                  ><input
                    name="sort"
                    id="view_new"
                    type="radio"
                    value="new"
                  />최신순</label
                >
              </div>

              <div class="sidebar_title"></div>
              <div class="select_box">
                <label
                  ><input
                    name="direction"
                    id="view_up"
                    type="radio"
                    value="up"
                    checked
                  />오름차순</label
                >
                <label
                  ><input
                    name="direction"
                    id="view_down"
                    type="radio"
                    value="down"
                  />내림차순</label
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
