<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title th:text="|BOARDARC - 카테고리: ${categoryData.getCategory()}|">
      카테고리
    </title>
    <link rel="icon" th:href="@{/images/official/icon.png}" />
    <link rel="stylesheet" th:href="@{/components/css/style.css}" />
    <link rel="stylesheet" th:href="@{/category/css/style.css}" />
    <script
      src="https://kit.fontawesome.com/d5e5d975b2.js"
      crossorigin="anonymous"
    ></script>
    <script src="../components/js/jquery.js"></script>
    <script src="../components/js/jquery.cookie.js"></script>
    <script src="../components/js/header.js"></script>
    <script src="../category/js/script.js"></script>
    <script src="../category/js/search.js"></script>
    <script src="../components/js/sidebar.js"></script>
  </head>
  <body>
    <div class="wrap">
      <div class="banner" th:replace="fragments/common :: banner"></div>
      <div class="menu" th:replace="fragments/common :: header"></div>
      <div class="body">
        <div class="title">
          <div class="category_name" th:text="${categoryData.getCategory()}">
            글 목록
          </div>
          <div class="category_info" th:text="${categoryData.getAbout()}">
            게시물을 둘러보세요.
          </div>
        </div>

        <div class="main">
          <div class="main_posts">
            <ul class="post_list">
              <li
                class="post_simple"
                th:if="${#strings.equals(sidebar.getViewmode(), 'simple')}"
                th:each="post : ${posts}"
              >
                <div class="post_left">
                  <a
                    class="post_name"
                    th:text="${post.getPostname()}"
                    th:href="@{/posts/{id}(id = ${post.getId()})}"
                  >
                  </a>
                </div>
                <div class="post_right">
                  <ul class="post_tags">
                    <li
                      th:each="tag : ${post.getTagdataList()}"
                      th:title="${tag.getTagdesc()}"
                      class="post_tag"
                    >
                      <a
                        th:href="@{/tag/{id}(id = ${tag.getId()})}"
                        th:text="${tag.getTagname()}"
                        th:style="|color: #${tag.getTagcolor()}|"
                      ></a>
                    </li>
                  </ul>

                  <div class="post_wrap">
                    <div
                      class="post_top"
                      th:text="${post.authorInfo.getNickname()}"
                    >
                      게시자
                    </div>
                    <div
                      class="post_bottom"
                      th:text="${post.getPostdate()}"
                    ></div>
                  </div>

                  <div class="post_wrap">
                    <div class="post_top">조회수</div>
                    <div
                      class="post_bottom"
                      th:text="|${post.getViewers()}회|"
                    ></div>
                  </div>

                  <div class="post_wrap">
                    <div class="post_top">추천</div>
                    <div
                      class="post_bottom"
                      th:text="|${post.getRecommend()}개|"
                    ></div>
                  </div>
                </div>
              </li>

              <li
                class="post_exact"
                th:if="${#strings.equals(sidebar.getViewmode(), 'exact')}"
                th:each="post : ${posts}"
              >
                <div class="post_top">
                  <div class="post_top_left">
                    <div class="post_name">
                      <a
                        th:href="@{/posts/{id}(id = ${post.getId()})}"
                        th:text="${post.getPostname()}"
                        >글 제목</a
                      >
                    </div>
                    <ul class="post_tags">
                      <li
                        th:each="tag : ${post.getTagdataList()}"
                        th:title="${tag.getTagdesc()}"
                        class="post_tag"
                      >
                        <a
                          th:href="@{/tag/{id}(id = ${tag.getId()})}"
                          th:text="${tag.getTagname()}"
                          th:style="|color: #${tag.getTagcolor()}|"
                        ></a>
                      </li>
                    </ul>
                  </div>
                  <div class="post_top_right">
                    <div
                      class="post_data"
                      th:text="|조회수 ${post.getViewers()}회|"
                    ></div>
                    <div
                      class="post_data"
                      th:text="|추천 ${post.getRecommend()}개|"
                    ></div>
                  </div>
                </div>
                <div class="post_bottom">
                  <div class="post_left">
                    <div class="post_info">
                      <div class="post_img_frame">
                        <img
                          src=""
                          alt=""
                          th:src="@{/images/{img}(img = ${categoryData.getImg()})}"
                        />
                      </div>
                      <a th:href="@{/posts/{id}(id = ${post.getId()})}"
                        ><p th:text="${post.getContent()}">글 내용</p></a
                      >
                    </div>
                  </div>
                  <div class="post_right">
                    <div
                      class="post_right_info"
                      th:text="|게시자 - ${post.authorInfo.getNickname()}|"
                    >
                      게시자
                    </div>
                    <div
                      class="post_right_info"
                      th:text="|게시일 - ${post.getPostdate()}|"
                    >
                      게시일
                    </div>
                    <div class="author_image_frame">
                      <img
                        th:if="${post.authorInfo.getFaceimg() == null}"
                        alt=""
                        th:src="@{/images/profiles/default.png}"
                      />
                      <img
                        th:if="${post.authorInfo.getFaceimg() != null}"
                        alt=""
                        th:src="@{/images/{img}(img = ${post.authorInfo.getFaceimg()})}"
                      />
                    </div>
                  </div>
                </div>
              </li>
            </ul>

            <ul class="paging">
              <li class="post_move" th:if="${page &gt; 1 and page - 3 &gt;= 1}">
                <a th:href="@{/category/{id}(id = ${id})}">&lt;&lt;</a>
              </li>
              <li class="post_move" th:if="${page &gt; 1}">
                <a th:href="@{/category/{id}(id = ${id}, page = ${page - 1})}"
                  >&lt;</a
                >
              </li>

              <li
                class="post_button"
                th:each="num : ${#numbers.sequence(T(Math).max(page - 3, 1), T(Math).min(page + 3, pageCount))}"
                th:classappend="${page == num} ? 'current' : ''"
              >
                <a
                  th:href="@{/category/{id}(id = ${id}, page = ${num})}"
                  th:text="${num}"
                ></a>
              </li>

              <li class="post_move" th:if="${page &lt; pageCount}">
                <a th:href="@{/category/{id}(id = ${id}, page = ${page + 1})}"
                  >&gt;</a
                >
              </li>
              <li
                class="post_move"
                th:if="${page &lt; pageCount and page + 3 &lt;= pageCount}"
              >
                <a th:href="@{/category/{id}(id = ${id}, page = ${pageCount})}"
                  >&gt;&gt;</a
                >
              </li>
            </ul>
          </div>

          <div class="sidebar" th:replace="fragments/common :: sidebar"></div>
        </div>
      </div>
    </div>
  </body>
</html>
