<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title th:text="|BOARDARC - 게시물: ${post.getPostname()}|"></title>
    <link rel="icon" th:href="@{/images/official/icon.png}" />
    <link rel="stylesheet" th:href="@{/components/css/style.css}" />
    <link rel="stylesheet" th:href="@{/posts/css/style.css}" />
    <script
      src="https://kit.fontawesome.com/d5e5d975b2.js"
      crossorigin="anonymous"
    ></script>
    <script src="../components/js/jquery.js"></script>
    <script src="../components/js/jquery.cookie.js"></script>
    <script src="../components/js/header.js"></script>
    <script src="../posts/js/script.js"></script>
  </head>
  <body>
    <div class="wrap">
      <div class="banner" th:replace="fragments/common :: banner"></div>
      <div class="menu" th:replace="fragments/common :: header"></div>
      <div class="body">
        <div class="title">
          <div class="category_name" th:text="${category.getCategory()}">
            게시된 카테고리
          </div>
        </div>

        <div class="main">
          <div class="post_top">
            <div class="post_top_left">
              <div class="post_tags">
                <li
                  th:each="tag : ${post.getTagdataList()}"
                  th:title="${tag.getTagdesc()}"
                  class="post_tag"
                >
                  <a
                    th:href="@{/tag/{id}(id = ${tag.getId()})}"
                    th:text="${tag.getTagname()}"
                    th:style="|color: #${tag.getTagcolor()}|"
                  ></a>
                </li>
              </div>
            </div>
            <div class="post_top_right">
              <div class="post_wrap">
                <div class="post_info_top">게시일</div>
                <div
                  class="post_info_bottom"
                  th:text="|${post.getPostdate()}|"
                ></div>
              </div>

              <div class="post_wrap">
                <div class="post_info_top">조회수</div>
                <div
                  class="post_info_bottom"
                  th:text="|${post.getViewers()}회|"
                ></div>
              </div>

              <div class="post_wrap">
                <div class="post_info_top">좋아요</div>
                <div
                  class="post_info_bottom"
                  th:text="|${post.getRecommend()}회|"
                ></div>
              </div>

              <div class="post_ellipsis">
                <button type="button" class="post_ellipsis_button">
                  <i class="fa-solid fa-ellipsis"></i>
                </button>
                <div class="post_ellipsis_menu">
                  <button type="button" class="post_ellipsis_share">
                    공유
                  </button>
                  <button type="button" class="post_ellipsis_report">
                    신고
                  </button>
                  <button
                    th:if="${profile != null && #strings.equals(post.getAuthor(), email)}"
                    type="button"
                    class="post_ellipsis_edit"
                  >
                    <a th:href="@{/editor/{id}(id = ${post.getId()})}">수정</a>
                  </button>
                  <button
                    th:if="${profile != null && (#strings.equals(post.getAuthor(), email) || profile.isIsadmin() == true || #lists.contains(category.getAdminList(), email))}"
                    type="button"
                    class="post_ellipsis_delete"
                  >
                    삭제
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="post_title" th:text="${post.postname}">제목</div>
          <div class="post_author">
            <div class="author_img_frame">
              <a
                href="#"
                th:href="@{/info/{author}(author = ${post.getAuthor()})}"
              >
                <img
                  th:src="@{/images/{img}(img = ${author.getFaceimg()})}"
                  src=""
                  alt=""
                />
              </a>
            </div>
            <div class="author_info">
              <div class="author_name" th:text="${author.getNickname()}">
                작성자 이름
              </div>
              <div class="author_about" th:text="${author.getAbout()}">
                작성자 소개
              </div>
            </div>
          </div>

          <div class="post_main" th:text="${post.getContent()}">본문</div>

          <div
            class="recommend_frame"
            th:if="${profile != null and profile.isVerify()}"
          >
            <button
              class="recommend_love"
              th:classappend="${loved} ? 'activate' : ''"
            >
              <i class="fa-solid fa-thumbs-up"></i>
              <span th:text="|좋아요 ${post.getLoved()}|"></span>
            </button>
            <button
              class="recommend_hate"
              th:classappend="${hated} ? 'activate' : ''"
            >
              <i class="fa-solid fa-thumbs-down"></i>
              <span th:text="|싫어요 ${post.getHated()}|"></span>
            </button>
          </div>
          <div
            class="recommend_frame"
            th:unless="${profile != null and profile.isVerify()}"
          >
            <button class="recommend_lock">
              <i class="fa-solid fa-lock"></i>
              <span th:text="|좋아요 ${post.getLoved()}|"></span>
            </button>
            <button class="recommend_lock">
              <i class="fa-solid fa-lock"></i>
              <span th:text="|싫어요 ${post.getHated()}|"></span>
            </button>
          </div>

          <div class="comments_frame">
            <div class="comments_top">
              <div class="comments_profile">
                <div class="comments_name" th:if="${profile == null}">
                  댓글을 남기려면 로그인 해주세요.
                </div>
                <div
                  class="comments_name"
                  th:if="${profile != null}"
                  th:text="${profile.getNickname()}"
                >
                  작성자
                </div>
                <div class="comments_img_frame">
                  <img
                    th:if="${profile != null}"
                    th:src="@{/images/{img}(img = ${profile.getFaceimg()})}"
                    alt=""
                  />
                  <div
                    class="comments_lock"
                    th:unless="${profile != null and profile.isVerify()}"
                  >
                    <div class="comments_lock_frame">
                      <i class="fa-solid fa-lock"></i>
                      <div
                        th:if="${profile == null}"
                        class="comments_lock_display"
                      >
                        로그인이 필요합니다.
                      </div>
                      <div
                        th:if="${profile != null}"
                        class="comments_lock_display"
                      >
                        이메일 인증이 필요합니다.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="comments_input_frame">
                <div class="comments_input">
                  <div class="comments_reply">
                    <div class="comments_reply_target">에게 다는 답글</div>
                    <div class="comments_reply_close">x</div>
                  </div>
                  <textarea
                    id="comments_input"
                    cols="30"
                    rows="10"
                    placeholder="댓글을 입력하세요."
                  ></textarea>
                </div>
                <button id="comments_send" type="button">전송</button>
              </div>
            </div>
            <div class="comments_bottom">
              <div
                class="comment"
                th:each="comment : ${comments}"
                th:classappend="|id${comment.getId()} level${comment.getReply_level()}|"
              >
                <div class="comment_frame">
                  <div class="comments_profile">
                    <div
                      class="comments_name"
                      th:text="${comment.authorInfo.getNickname()}"
                    >
                      작성자
                    </div>
                    <div class="comments_img_frame">
                      <img
                        th:src="@{/images/{img}(img = ${comment.authorInfo.getFaceimg()})}"
                        src=""
                        alt=""
                      />
                    </div>
                  </div>
                  <p th:text="${comment.getContent()}">댓글 내용</p>
                  <div class="comment_ellipsis">
                    <button type="button" class="comment_ellipsis_button">
                      <i class="fa-solid fa-ellipsis"></i>
                    </button>
                    <div class="comment_ellipsis_menu">
                      <button type="button" class="comment_ellipsis_reply">
                        답글 달기
                      </button>
                      <button type="button" class="comment_ellipsis_report">
                        신고
                      </button>
                      <button
                        th:if="${profile != null && (#strings.equals(comment.getAuthor(), email) || profile.isIsadmin() == true || #lists.contains(category.getAdminList(), email))}"
                        type="button"
                        class="comment_ellipsis_delete"
                      >
                        삭제
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
