<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>BOARDARC - 비밀번호 찾기</title>
    <link rel="icon" th:href="@{/images/official/icon.png}" />
    <link rel="stylesheet" href="components/css/style.css" />
    <link rel="stylesheet" href="components/css/form.css" />
    <link rel="stylesheet" href="reset/css/style.css" />
    <!-- <link rel="stylesheet" th:href="@{/components/css/style.css}"> -->
    <!-- <link rel="stylesheet" th:href="@{/components/css/form.css}"> -->
    <script
      src="https://kit.fontawesome.com/d5e5d975b2.js"
      crossorigin="anonymous"
    ></script>
    <script src="components/js/jquery.js"></script>
    <script src="components/js/jquery.cookie.js"></script>
    <script src="reset/js/script.js"></script>
  </head>
  <body>
    <div class="wrap">
      <div class="logo">
        <a th:href="@{/}">
          <img
            th:src="@{/images/official/boardarc.png}"
            alt=""
          />
        </a>
      </div>
      <div class="act">비밀번호 찾기</div>
      <form class="form">
        <div class="info">
          <div>비밀번호를 잊어버리셨나요?</div>
          <div>이메일로 비밀번호를 변경해보세요.</div>
        </div>

        <div class="form_input_cover" id="email">
          <div class="form_label">이메일</div>
          <input
            class="form_input"
            type="email"
            placeholder="이메일을 입력하세요."
          />
          <div class="form_error"></div>
          <button class="form_send" type="button">인증 코드 전송</button>
        </div>

        <div class="form_blank"></div>

        <div class="form_input_cover" id="code">
          <div class="form_label">인증 코드</div>
          <input
            class="form_input"
            type="text"
            maxlength="6"
            placeholder="인증 코드를 입력하세요."
          />
          <div class="form_error"></div>
        </div>

        <div class="commit">
          <button class="form_button" type="button">다음</button>
          <a th:href="@{/login}">로그인 페이지로 이동</a>
        </div>
      </form>
    </div>
  </body>
</html>
