/* title */
.title {
  display: flex;
  flex-direction: column;
  height: 100px;
}

.category_name {
  margin-left: 20px;
  margin-top: 25px;
  font-size: 24px;
}

.category_info {
  margin-left: 35px;
  margin-top: 3px;
  font-size: 14px;
  color: gray;
}

/* main */
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.post_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.post_info_top {
  font-size: 14px;
}

.post_info_bottom {
  font-size: 14px;
  color: gray;
}

/* post */
.post_top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

.post_title {
  font-size: 32px;
}

.post_top_left {
  display: flex;
  width: 500px;
  height: 50px;
}

.post_top_right {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 50px;
}

.post_tags {
  display: inline-flex;
  height: 35px;
  margin-left: 30px;
  margin-bottom: 10px;
}

/* tag */
.tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 35px;
  border-radius: 20px;
  border: 1px solid lightgray;
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
}

.tag_name {
  font-size: 14px;
  margin-right: 10px;
}

.tag_close {
  font-size: 14px;
  right: 10px;
}

/* author */
.post_author {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 50px;
}

.author_img_frame {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-left: 10px;
  overflow: hidden;
  border: 1px solid lightgray;
}

.author_img_frame a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.author_img_frame img {
  width: 40px;
}

.author_info {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
  height: 50px;
  margin-left: 15px;
}

.author_name {
  font-size: 16px;
  margin: 5px 0;
}

.author_about {
  font-size: 14px;
  margin: 5px 0;
  color: lightgray;
}
