/* title */
.title {
  display: flex;
  flex-direction: column;
  height: 100px;
}

.category_name {
  margin-left: 20px;
  margin-top: 25px;
  font-size: 24px;
}

.category_info {
  margin-left: 35px;
  margin-top: 3px;
  font-size: 14px;
  color: gray;
}

/* main */
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.post_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.post_info_top {
  font-size: 14px;
}

.post_info_bottom {
  font-size: 14px;
  color: gray;
}

/* post */
.post_top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

.post_title {
  font-size: 32px;
}

.post_top_left {
  display: flex;
  width: 500px;
  height: 50px;
}

.post_top_right {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 50px;
}

.post_tags {
  display: inline-flex;
  height: 35px;
  margin-left: 30px;
  margin-bottom: 10px;
}

/* tag */
.tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 35px;
  border-radius: 20px;
  border: 1px solid lightgray;
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
}

.tag_name {
  font-size: 14px;
  margin-right: 10px;
}

.tag_close {
  font-size: 14px;
  right: 10px;
}

/* author */
.post_author {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 50px;
}

.author_img_frame {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-left: 10px;
  overflow: hidden;
  border: 1px solid lightgray;
}

.author_img_frame a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.author_img_frame img {
  width: 40px;
}

.author_info {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
  height: 50px;
  margin-left: 15px;
}

.author_name {
  font-size: 16px;
  margin: 5px 0;
}

.author_about {
  font-size: 14px;
  margin: 5px 0;
  color: lightgray;
}

/* comments */
.comments_frame {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: auto;
  border: 1px solid lightgray;
  margin-top: 50px;
}

.comments_top {
  display: flex;
  width: 1000px;
  height: 150px;
}

.comments_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 150px;
}

.comments_name {
  height: 20px;
  font-size: 16px;
  margin-top: 10px;
}

.comments_img_frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid lightgray;
  border-radius: 50px;
  overflow: hidden;
  margin-top: 10px;
}
.comments_img_frame img {
  width: 100%;
}

.comments_input_frame {
  position: relative;
  width: 850px;
  height: 150px;
  padding: 10px 10px;
}

.comments_input {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 830px;
  height: 130px;
}

.comments_reply {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20px;
  background-color: lightgray;
}
.comments_reply.replying {
  display: flex;
}

.comments_reply_target {
  font-size: 14px;
  margin-left: 10px;
}

.comments_reply_close {
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
}

#comments_input {
  width: 100%;
  height: 130px;
  border: 1px solid lightgray;
  padding: 10px 10px;
  padding-right: 110px;
  font-size: 16px;
  resize: none;
}
#comments_input.replying {
  height: 110px;
}

#comments_send {
  position: absolute;
  width: 100px;
  height: 45px;
  text-align: center;
  line-height: 50px;
  border: 1px solid lightgray;
  border-radius: 25px;
  right: 20px;
  bottom: 20px;
  background-color: ghostwhite;
  cursor: pointer;
}

.comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.comment_frame {
  display: flex;
  width: 100%;
  height: 100px;
  border: 1px solid lightgray;
  overflow: hidden;
  background-color: white;
}

.comment_holder {
  width: 100%;
  height: auto;
  padding-left: 20px;
  background-color: ghostwhite;
}

.comment .comments_profile {
  width: 100px;
  height: 100px;
}

.comment .comments_name {
  font-size: 14px;
  height: 15px;
  margin-top: 5px;
}

.comment .comments_img_frame {
  margin-top: 5px;
  width: 70px;
  height: 70px;
}

.comment p {
  display: flex;
  flex-grow: 1;
  width: auto;
  height: auto;
  padding: 10px 10px;
  margin-top: 10px;
}

.comment_ellipsis {
  position: relative;
  width: 20px;
  height: 20px;
}

.comment_ellipsis_button {
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.comment_ellipsis_menu {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 100px;
  height: auto;
  background-color: white;
  border: 1px solid lightgray;
  margin-top: 20px;
  right: 0px;
}
.comment_ellipsis_menu.activated {
  display: flex;
}

.comment_ellipsis_menu button {
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}
